/* 
 ===== font fixes etc., here just for reference =====

@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,700,700i);
@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css);

body {
  font-family: 'Fira Sans','Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
}
*/

/*
.remark-code, .remark-inline-code {
  font-size: 80%;
}
*/

.remark-slide-content {
    font-size: 24px;
    padding: 1em 4em 1em 4em;
}

/* logo on title page */
.title-slide.remark-slide-content:before{
  position: absolute;
  height:60px;
  width: 120px;
  top: 20px;
  left: 20px;
  content:url("logo.png");
}

/* code highlights */

.remark-code-line-highlighted { background-color: #d0d9ff; }
